In [1]:
# Importing dependencies
import pandas as pd

In [2]:
# Getting csv paths
data_01_2019 = "Data/JC-201901-citibike-tripdata.csv"
data_02_2019 = "Data/JC-201902-citibike-tripdata.csv"
data_03_2019 = "Data/JC-201903-citibike-tripdata.csv"
data_04_2019 = "Data/JC-201904-citibike-tripdata.csv"
data_05_2019 = "Data/JC-201905-citibike-tripdata.csv"
data_06_2019 = "Data/JC-201906-citibike-tripdata.csv"
data_07_2019 = "Data/JC-201907-citibike-tripdata.csv"
data_08_2019 = "Data/JC-201908-citibike-tripdata.csv"
data_09_2019 = "Data/JC-201909-citibike-tripdata.csv"
data_10_2019 = "Data/JC-201910-citibike-tripdata.csv"
data_11_2019 = "Data/JC-201911-citibike-tripdata.csv"
data_12_2019 = "Data/JC-201912-citibike-tripdata.csv"

In [14]:
# Creating a file list
file_list = [data_01_2019, data_02_2019, data_03_2019, data_04_2019, data_05_2019, data_06_2019, data_07_2019, 
             data_08_2019, data_09_2019, data_10_2019, data_11_2019, data_12_2019]

# Creating empty list to append dfs
data_list = []

# Looping through files to append data into new list
for file in file_list:
    data_list.append(pd.read_csv(file))

# Combining dfs into a single one
data_2019 = pd.concat(data_list, sort = False)

# Previewing final df
data_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [15]:
data_2019.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,4.049470e+05,404947.000000,404947.000000,404947.000000,404947.000000,404947.000000,404947.000000,404947.000000,404947.000000,404947.000000
mean,7.258427e+02,3294.022391,40.722722,-74.046333,3292.219142,40.722328,-74.045792,28465.511998,1981.417524,1.162335
std,9.785237e+03,171.021930,0.007037,0.010871,180.886426,0.006885,0.010829,1654.373618,10.257440,0.516120
min,6.100000e+01,3183.000000,40.709651,-74.083639,116.000000,40.695065,-74.083639,14792.000000,1887.000000,0.000000
25%,2.330000e+02,3195.000000,40.718355,-74.050444,3192.000000,40.718355,-74.050389,26286.000000,1975.000000,1.000000
50%,3.450000e+02,3210.000000,40.721525,-74.043845,3207.000000,40.721124,-74.043117,29284.000000,1984.000000,1.000000
75%,5.800000e+02,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.038051,29536.000000,1989.000000,1.000000
max,2.566420e+06,3792.000000,40.748716,-74.032108,3792.000000,40.814326,-73.932077,41913.000000,2003.000000,2.000000